/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.carousel-item:after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-caption {
    z-index: 5;

}

.register-section {
    height: 300px;

}

.accordion-questions {
    width: 70%;
}

.footer {
    height: 350px;
    background-color: black;
}

.footer i {
    text-decoration: none;
}

.fa-brands {
    background-color: rgb(104, 97, 97);
}

/* Mobile phone */
@media only screen and (max-width:767px) {
    .carousel-item img {
        height: 98vh;
    }

    .accordion-questions {
        width: 100%;
    }

    .course-image {
        height: 330px;
        object-fit: cover;

    }
}

@media only screen and (max-width:991px) and (min-width:768px) {
    .accordion-questions {
        width: 100%;
    }

    .carousel-item img {
        height: 90vh;
    }
}